.consent {
  text-align: center;
  width: 50%;
  margin: 30px auto;
}

.consentBox {
  background-color: #f0f0f0;
}

.consentBox p {
  font-size: 14px;
  padding: 20px;
  text-align: left;
}

.checkBox {
  padding-bottom: 20px;
  margin-bottom: 10px;
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.checkBox label {
  font-size: 10px;
}

.button {
  font-size: 15px;
  float: left;
  width: 150px;
  height: 40px;
  background-color: #3884ff;
  color: #fff;
}
